In [35]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import time

In [36]:
chrome_options = Options()
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)
driver.get('https://data.worldhappiness.report/table')

In [74]:
rows = driver.find_elements(By.CSS_SELECTOR, 'div[role="row"]')

data = []
for row in rows:
    cells = row.find_elements(By.CSS_SELECTOR, 'div[role="gridcell"]')
    data.append([cell.text for cell in cells])

In [75]:
str1 = '''
Rank
Country
Life evaluation
Change (since 2012)
Inequality
Social support
GDP per capita
Healthy Life Expectancy 
Freedom
Generosity
Perceptions of corruption
Positive emotions
Negative emotions
Donated
Volunteered
Helped a stranger
'''

In [76]:
columns = str1.split('\n')[1:-1]

In [77]:
columns

['Rank',
 'Country',
 'Life evaluation',
 'Change (since 2012)',
 'Inequality',
 'Social support',
 'GDP per capita',
 'Healthy Life Expectancy ',
 'Freedom',
 'Generosity',
 'Perceptions of corruption',
 'Positive emotions',
 'Negative emotions',
 'Donated',
 'Volunteered',
 'Helped a stranger']

In [78]:
len(columns)

16

In [79]:
import pandas as pd
import numpy as np

# save to DataFrame
df_2024 = pd.DataFrame(data, columns=columns)

In [80]:
df_2024.drop(0, axis=0, inplace=True)

In [87]:
df_2024.set_index('Rank', inplace=True)

KeyError: "None of ['Rank'] are in the columns"

In [85]:
rows = driver.find_elements(By.CSS_SELECTOR, 'div[role="row"]')

data = []
for row in rows:
    cells = row.find_elements(By.CSS_SELECTOR, 'div[role="gridcell"]')
    data.append([cell.text for cell in cells])
    
df_2023 = pd.DataFrame(data, columns=columns)
df_2023.drop(0, axis=0, inplace=True)
df_2023.set_index('Rank')
df_2023.head()

,Rank,Country,Life evaluation,Change (since 2012),Inequality,Social support,GDP per capita,Healthy Life Expectancy,Freedom,Generosity,Perceptions of corruption,Positive emotions,Negative emotions,Donated,Volunteered,Helped a stranger
1,1,Finland,7.741,0.352,4,6,20,18,4,49,3,48,8,49,72,99
2,2,Denmark,7.583,âˆ’0.110,12,18,7,15,14,32,2,20,36,32,65,84
3,3,Iceland,7.525,0.170,3,1,10,4,16,4,45,11,14,4,63,127
4,4,Sweden,7.344,âˆ’0.136,19,15,15,7,12,23,6,33,19,23,105,89
5,5,Israel,7.341,0.040,37,4,28,9,72,25,27,132,141,25,45,74

In [95]:
from selenium.webdriver.common.by import By
import pandas as pd
import time

all_data = []
years = ['2024', '2023', '2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014']  # or dynamic later

for year in years:
    # Click dropdown
    driver.find_element(By.CSS_SELECTOR, 'div.selectedOption').click()
    time.sleep(0.2)  # tiny pause to open dropdown

    # Click year option
    driver.find_element(By.CSS_SELECTOR, f'div.option_{year}').click()
    time.sleep(0.5)  # short pause for table to render

    # Scrape table rows
    rows = driver.find_elements(By.CSS_SELECTOR, 'div[role="row"]')
    data = [[cell.text for cell in row.find_elements(By.CSS_SELECTOR, 'div[role="gridcell"]')]
            for row in rows[1:]]  # skip header

    # Add year
    data = [[year] + row for row in data]
    all_data.extend(data)

In [115]:
columns_with_year = ['Year'] + columns
df = pd.DataFrame(all_data, columns=columns_with_year)

In [116]:
df.head()

,Year,Rank,Country,Life evaluation,Change (since 2012),Inequality,Social support,GDP per capita,Healthy Life Expectancy,Freedom,Generosity,Perceptions of corruption,Positive emotions,Negative emotions,Donated,Volunteered,Helped a stranger
0,2024,1,Finland,7.736,0.347,2,2,15,18,4,56,2,25,7,56,75,77
1,2024,2,Denmark,7.521,âˆ’0.172,28,4,5,15,10,31,4,11,35,31,60,70
2,2024,3,Iceland,7.515,0.160,5,1,8,4,3,5,31,8,8,5,66,102
3,2024,4,Sweden,7.345,âˆ’0.135,11,27,12,7,21,20,5,23,24,20,78,71
4,2024,5,Netherlands,7.306,âˆ’0.206,1,28,6,-,41,9,11,41,34,9,46,128

In [117]:
len(df)

1100

In [118]:
df.dtypes

Year                         object
Rank                         object
Country                      object
Life evaluation              object
Change (since 2012)          object
Inequality                   object
Social support               object
GDP per capita               object
Healthy Life Expectancy      object
Freedom                      object
Generosity                   object
Perceptions of corruption    object
Positive emotions            object
Negative emotions            object
Donated                      object
Volunteered                  object
Helped a stranger            object
dtype: object

In [105]:
df.Year.unique()

array(['2024', '2023', '2022', '2021', '2020', '2019', '2018', '2017',
       '2016', '2015', '2014'], dtype=object)

In [119]:
df.to_csv('World_Happiness_Report.csv', index=False)

In [120]:
pwd

'C:\\Users\\Samir\\Documents\\ML\\Practice\\Web scraping\\WorldHappiness'

In [121]:
whr = pd.read_csv('World_Happiness_Report.csv')

In [122]:
whr

,Year,Rank,Country,Life evaluation,Change (since 2012),Inequality,Social support,GDP per capita,Healthy Life Expectancy,Freedom,Generosity,Perceptions of corruption,Positive emotions,Negative emotions,Donated,Volunteered,Helped a stranger
0,2024,1,Finland,7.736,0.347,2,2,15,18,4,56,2,25,7,56,75,77
1,2024,2,Denmark,7.521,âˆ’0.172,28,4,5,15,10,31,4,11,35,31,60,70
2,2024,3,Iceland,7.515,0.160,5,1,8,4,3,5,31,8,8,5,66,102
3,2024,4,Sweden,7.345,âˆ’0.135,11,27,12,7,21,20,5,23,24,20,78,71
4,2024,5,Netherlands,7.306,âˆ’0.206,1,28,6,-,41,9,11,41,34,9,46,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,2014,97,Lesotho,4.898,0.000,-,-,-,-,-,-,-,-,-,-,-,-
1096,2014,98,Dominican Republic,4.885,âˆ’0.078,143,39,66,79,15,63,52,26,97,63,20,24
1097,2014,99,Lao PDR,4.876,0.089,-,-,-,-,-,-,-,-,-,-,-,-
1098,2014,100,Mongolia,4.874,0.040,21,9,76,97,68,34,117,127,14,34,23,99
1099,2014,101,Eswatini,4.867,0.000,-,-,-,-,-,-,-,-,-,-,-,-